[submodule "/Users/ignacio/Desktop/DZN/OSS/FUIVerticalTabBarController/Source/FUIKit"]
	path = /Users/ignacio/Desktop/DZN/OSS/FUIVerticalTabBarController/Source/FUIKit
	url = https://github.com/Grouper/FlatUIKit.git
