[submodule "/Users/ignacio/Desktop/DZN/OSS/FUIVerticalTabBarController/Source/FlatUIKit"]
	path = /Users/ignacio/Desktop/DZN/OSS/FUIVerticalTabBarController/Source/FlatUIKit
	url = https://github.com/Grouper/FlatUIKit.git
